{% extends "layout.html" %}

{% block main %}
<div class="row">
    <div class="col-md-4 col-md-offset-4 login-form">
        <form method="POST" action="{% url 'change_password' %}" role="form">

        
            {% csrf_token %}

            <div class="form-group">
                <input type="password" class="form-control login-field" name="new_password" value="" placeholder="New password" id="new-pass">
                <label class="login-field-icon fui-user" for="new-pass"></label>
            </div>

            <div class="form-group">
                <input type="password" class="form-control login-field" name="confirm_password" value="" placeholder="Confirm new password" id="conf-new-pass">
                <label class="login-field-icon fui-lock" for="conf-new-pass"></label>
            </div>

            <input type="submit" value="Update password" class="btn btn-primary btn-lg btn-block"/>

        </form>
    </div>
</div>
{% endblock main %}
