{% if not ajax %}
<!DOCTYPE html>
<html>
<head>
	<link rel="icon"
      type="image/png"
      href="">
	<title>Cloud-Photos-Organizer</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "styles/vendor/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/flat-ui.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "styles/main.css" %}">

</head>
<body>

	<!-- Start navigation block-->
	<nav class="navbar navbar-inverse navbar-embossed" style="border-radius: 0px;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'index' %}">CloudPic</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		{% if user.is_authenticated %}
	    		<form class="navbar-form navbar-left" action="{% url 'search_tags' %}" role="search" method="POST">
	    			{% csrf_token %}
                	<div class="form-group">
                  		<div class="input-group">
                    		<input class="form-control" type="search" placeholder="Search" name="search-tags">
                    		<span class="input-group-btn">
                      			<button type="submit" class="btn"><span class="fui-search"></span></button>
                    		</span>
                  		</div>
                	</div>
              	</form>
    		{% endif %}
	      	<ul class="nav navbar-nav navbar-right">
		      	{% if user.is_authenticated %}
		      		<li><a href="#">Hello, {{user.username}}!</a></li>
	      			<li><a href="{% url 'logout' %}">Sign out</a></li>
	      			<li><a href="{% url 'change_password' %}">Change password</a></li>
	      		{% else %}
		        	<li><a href="{% url 'login' %}">Sign in</a></li>
		      	{% endif %}
	      	</ul>
	    </div>
	  </div>
	</nav>
	<!-- End navigation block-->

	<!-- Start main content block-->
{% endif %}
	{% block premain %}
	{% endblock premain %}

{% if not ajax %}
	<div class="container-fluid">
{% endif %}
	{% block main %}

	{% endblock main %}
{% if not ajax %}
	</div>
	<!-- End main content block-->

	<footer>
		<div class="container-fluid">
			<a href="{% url 'contact' %}" class="footer-menu-link">Contact us</a><br/>
			The smart organizer is <a href="http://imagga.com">powered by Imagga</a>.
		</div>
	</footer>

	<script src="{% static "js/vendor/jquery.min.js" %}"></script>
	<script src="{% static "js/vendor/respond.min.js" %}"></script>
	<script src="{% static "js/flat-ui.min.js" %}"></script>

	<script>
		$(function() {
			var refresh = false;
			function getStatus() {
				setTimeout(function() {
					$.get('/organizer/status/', function(data) {
						if (!data.error)
						{
							$.get('/organizer/?ajax=1&show=2', function(data) {
								$('#show-1').html(data);

								$.get('/organizer/?ajax=1&show=1', function(data) {
									$('#show-2').html(data);
									refresh = true;
									getStatus();
								});
							});
						}
						else
						{
							if (refresh)
							{
								$.get('/organizer/?ajax=1&show=2', function(data) {
									$('#show-1').html(data);

									$.get('/organizer/?ajax=1&show=1', function(data) {
										$('#show-2').html(data);
										refresh = false;
										getStatus();
									});
								});
							}
							else
							{
								getStatus();
							}
						}
					});
				}, 1000);
			}
			getStatus();
		});
	</script>
</body>
</html>
{% endif %}