{% extends "layout.html" %}
{% block premain %}
{% if show != 1 %}
    {% if not ajax %}
    <div class="index-box" id="show-1">
    {% endif %}
        <div class="container">
            <p style="text-align: center;">
            {% if task %}
                Organized images: {{ task.progress }}/{{ task.all_images }}
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" style="width: {% widthratio task.progress task.all_images 100 %}%;"></div>
                </div>
            {% else %}
                {% if not dropbox_access_token %}
                    <a href="{% url 'connect_cloud' 'dropbox' %}" class="btn btn-lg btn-outline-inverse" style="text-align: center">Connect to Dropbox</a>
                {% else %}
                    <a href="{% url 'organize' %}" class="btn btn-lg btn-outline-inverse" id="organize-button" style="text-align: center">Organize Dropbox photos</a>
                {% endif %}
            {% endif %}
            </p>
        </div>
    {% if not ajax %}
    </div>
    {% endif %}
{% endif %}
{% endblock premain %}

{% block main %}
{% if show != 2 %}
    {% if not ajax %}
    <div class="container-fluid" id="show-2">
    {% endif %}
        {% if not found_images %}
            {% for category, photos in categories %}
            <div class="row">
                <div class="thumb-header">
                    <h6>{{ category.pretty_name }}</h6>
                    <a href="{% url 'categories' category.id %}" class="btn btn-outline-inverse" style="font-size: 18px; margin-top: -5px;">See all...</a>
                </div>
                {% for photo in photos %}
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail single-thumb">
                      <img src="{{ photo.url }}" style="height: 180px; width: 100%; display: block;">
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="thumb-header">
                    <h6>Search results for {{ tags }}</h6>
                </div>
                {% for photo in found_images %}
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail single-thumb">
                      <img src="{{ photo.url }}" style="height: 180px; width: 100%; display: block;">
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    {% if not ajax %}
    </div>
    {% endif %}
{% endif %}
{% endblock main %}
